/* @import url("../vendor/normalize.css");
@import url("../styles/style.css"); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html, body {
    height: 100%;
    width: 100%;
}



.header {
    display:flex;
    flex-direction: column;
    min-height: 720px;         
    max-height: 800px; 
    height: 100vh; 
    padding: 30px 80px 40px;
    position: relative;
    background-color: #ffffff;   
    background-image: url(/images/background_header.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;     

}

main {
    height: 100vh;

}

.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto; 
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 80px;
}

.nav__logo img {
    position: relative;
    width: 105px;
    height: 39px;
}


.nav__link {
    font-family: "Inter"; 
    font-weight: 500; 
    font-size: 16px; 
    line-height: 20px;

}

.nav__links {
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
    gap: 20px;
    list-style-type: none;
}


.nav__link a {

    text-decoration: none;
    color: #000000;
}

.span-accent {
    font-weight: bold;
    display: block;
    font-family: "Noto Serif";
    font-style: italic; 
    font-size: 58px; 
    line-height: 72px; 
    color: #2F80ED;
    
}

.header__title h1 {
    font-family: "Inter"; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 58px; 
    line-height: 72px; 
    letter-spacing: -1px;
    margin-bottom: 0px;


}

.header__title {

    margin-top: 183px;
    margin-left: 80px;
    margin-bottom: 0px;
    max-width: 709px;
    font-family: "Inter"; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 58px; 
    line-height: 72px; 
    letter-spacing: -1px;
    margin-bottom: 0px;
    
}

.header__description {
    margin-top: 28px;
    margin-left: 80px;
    max-width: 683px;
    font-family: "Noto Serif"; 
    font-weight: normal;
    font-size: 20px; 
    line-height: 30px;
    
}

.header__footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-family: "Inter";
    line-height: 20px; color: #838383;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 40px;
    margin-top: auto;


}

.header__image img {
    width: 646px;
    height: 568px;
    top: 124px;
    right: 5px;
    background-color: #ffffff;
    position: absolute;
}

.footer p {
    display: flex;
    
}


.header__footer p {
    margin-top: 0;
    margin-bottom: 0;
}


.recipes {
    background-color: #0a2750;
    background-image: url(/images/background_recipes.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    padding-top: 100px;
    padding-left:80px;
}

.recipes__title {
    display: flex;
    max-width: 580px;
    font-family: "Inter"; 
    font-weight: 500; 
    font-size: 44px; 
    line-height: 52px;
    color: #ffffff;
    margin-top: 100px;
    margin-left: 80px;

}

.recipes__subtitle {
    max-width: 438px;
    margin-top: 24px;
    margin-left: 80px;
    margin-bottom: 80px;
    font-family: "Noto Serif"; 
    font-size: 20px; 
    line-height: 30px;
    color: #ffffff;
}

.recipes__videos {
    display: flex;
    justify-content: center;
    gap: 40px;
    border: none;
    margin-bottom: 215px;

}

.recipes__iframe {
    width:480px;
    height: 273px;
   
}


.recipes__video-caption {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    padding-top: 24px;
}

.reservation {
    background-color: #D9E7FF;
    background-image: url(../images/background_reservation.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-bottom: 120px;



} 
.reservation__input {
    display: flex;
    justify-content: center;
    align-items: center;

}


.reservation__title {
    padding-top: 100px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: Inter;
    font-style: normal; 
    font-weight: 500; 
    font-size: 44px; 
    line-height: 52px;

}


.reservation__form fieldset{
    display: flex;
    flex-direction: column;
    max-width: 385px;
}

.reservation__form {
    display: flex;
    justify-content: center;

}


.reservation__form fieldset label {
    margin-bottom: 8px;
    font-family: Inter; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 16px; 
    line-height: 20px;
}
.reservation__input {
    margin-bottom: 32px;
    font-family: Inter; 
    font-style: normal; 
    font-weight: normal; 
    font-size: 20px; 
    line-height: 30px;
    height: 60px;
    padding-left: 20px;
    padding-top: 15px;
    border-radius: 4px;
    opacity:100%
}
.reservation__input .placeholder{
    color: #838383;
}

.reservation__input:hover {
    opacity: 70%
}

.reservation__button {
    border-radius: 4px;
    opacity: 100%;
    font-family: Inter; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 16px; 
    line-height: 20px;
    height: 60px;
    background-color: #2f80ed;
    color: #ffffff;
}

.reservation__-button:hover {
    opacity: 70%;
    
}

.reservation__checkbox {
    display: flex;
    gap: 12px;
    margin-top: 32px;
}

.reservation__checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
